/* CSS Variables */

:root {
    --dark: #222;
    --darkish: #919191;
    --light: #FCFBFC;
    --redAccent: #DA1622;
    --grayAccent: #C7CFD2;
}

/* Global Elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    color: (var(--light));
}

li {
    width: 100%;
    padding-left: 10px;
}

li:hover {
    background-color: rgba(218, 22, 34, 0.25);
    cursor: pointer;
}

/* Header Elements */

header {
    width: 100vw;
    height: 8.5vh;
    min-height: 50px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grayAccent);
}

header h1{
    font-size: 4vh;
    display: none;
}

header h2{
    font-size: 2vh;
    padding-left: 10px;
    color: var(--dark);
}

    /* Tool menu and hidden dropdown */
#toolSelector {
    width: 75%;
    min-width: 250px;
    height: 80%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--redAccent);
    position: relative;
    cursor: pointer;
}

#toolName {
    color: var(--light);
}

.dropDown {
    height: fit-content;
}

#toolDropDown {
    width: 100%;
    min-width: 250px;
    height: 130%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--darkish);
    color: var(--light);
    z-index: 2;
}

#toolDD {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: var(--redAccent);
    border: 0;
    padding: 0;
}

.arrow {
    color: var(--light);
}

#toolDD:hover {
    background-color: var(--dark);
}

.toolDDItem {
    font-size: 2vh;
    padding: 5px 0px;
}

/* Section Elements */

#cSBody {
    background: url(./img/left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 0px 0px 0px;
}

section {
    height: 86.5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

section h3{
    color: var(--light);
    font-size: 1em;
    padding: 0px 10px;
}

    /* Measurement Conversion Elements */
.inputContainer {
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.outputContainer {
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.instructionCard {
    width: 100%;
    height: 20%;
    min-height: 40px;
    border-radius: 10px;
    opacity: 0.75;
    background: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}


.instructionCard p {
    font-size: 1.25vh;
    text-align: center;
}

#conversionSelector {
    width: 100%;
    min-width: 250px;
    min-height: 50px;
    height: 20%;
    background-color: var(--redAccent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 2vh;
}

#conversionDD {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: var(--redAccent);
    border: 0;
    padding: 0;
}

#conversionDD:hover {
    background-color: var(--dark);
}

#converterDropDown {
    width: 100%;
    min-width: 250px;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--darkish);
    z-index: 2;
}

.conDDItem {
    color: var(--light);
    font-size: 1em;
}

form {
    width: 100%;
    min-width: 250px;
    min-height: 50px;
    height: 20%;
    margin-bottom: 20px;
    position: relative;
}

#entry {
    width: 100%;
    min-width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#refreshContainer {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: var(--redAccent);
    display: flex;
    justify-content: center;
    align-items: center;
}

#refresh {
    cursor: pointer;
    color: var(--light);
}

#entry input {
    border-style: none;
    width: 100%;
    height: 100%;
    background: var(--redAccent);
    text-align: center;
    color: var(--light);
}

::placeholder {
    color: var(--light);
    font-size: 2vh;
}

.container {
    min-height: 50px;
    height: 25%;
    width: 100%;
    min-width: 250px;
    background: var(--dark);
    color: var(--light);
    opacity: .8;
    border-radius: 10px;
}

.returnHeader {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vh;
}

.accent {
    color: var(--redAccent);
    font-weight: bolder;
}

.returnMeasurements {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    color: var(--light);
    
}

.measurement {
    color: var(--light);
    font-size: 1.75vh;
}

.oneUp, 
.oneDown {
    font-size: 1.5vh;
}

    /* RefManuals elements */
.refContainer {
    height: 81.5vh;
    
}

#rMBody {
    background: url(./img/right.png);
    background-size: cover;
}

#tCBody {
    background: url(./img/right.png);
    background-size: cover;
}

#wSBody {
    background: url(./img/right.png);
    background-size: cover;
}

#dSBody {
    background: url(./img/right.png);
    background-size: cover;
}

#uABody {
    background: url(./img/right.png);
    background-size: cover;
}

.gridBox {
    height: 100%;
    width: 75%;
    display: grid;
    grid: auto / auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    /* overflow-y: scroll; */
}

.refCard {
    min-height: 100px;
    height: 50%;
    min-width: 250px;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.refCard:hover {
    transform: scale(1.1);
}

.refHeader {
    width: 100%;
    height: 50%;
    background-color: var(--redAccent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--light);
}

.refIcon {
    color: var(--redAccent);
}

.refDesc {
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50%;
}

.refDesc p {
    padding: 10px;
}

.chart {
    height: 100%;
    width: 100%;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
}

.refPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refTable{
    background-color: var(--darkish);
    color: var(--light);
    text-align: center;
    width: 75%;
    border: 1px solid var(--dark);
    border-collapse: collapse;
}

th {
    border: 1px solid var(--dark);
    background-color: var(--redAccent);
    color: var(--dark);

}

td {
    border: 1px solid var(--dark);
    color: var(--dark);
    padding: 5px;
}

tr:hover {
    background-color: var(--redAccent);
}

td:hover {
    background-color: var(--dark);
    color: var(--light);
}

tr:focus {
    background-color: var(--redAccent);
}

td:focus {
    background-color: var(--dark);
    color: var(--light);
}

#tCTable {
    width: 80%;
}

.overflowChart{
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    background-repeat: no-repeat;
}

    /* Back Button for reference manual */
#backButton {
    height: 5vh;
    width: 100%;
    padding: 0;
}

#back {
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backBtn {
    border: none;
    background-color: var(--redAccent);
    color: var(--light);
    width: 50%;
    height: 60%;
    border-radius: 10px;
    cursor: pointer;
}

#backBtn:hover {
    transform: scale(1.1);
}

/* Footer Elements */

footer {
    height: 5vh;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

#copy {
    font-size: 1vh;
}

/* Hidden class for navigation */

.hidden {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .gridBox {
        grid: auto / auto;
        overflow-y: scroll;
    }

    .refPage {
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    background-repeat: no-repeat;
    }
}
